@tailwind base;
@tailwind components;
@tailwind utilities;

html,
head,
body{
  margin: 0;
  padding: 0;
  width: 350px;  /* 强制固定宽度 */
  height: 450px; /* 强制固定高度 */
  min-height: 100%;
  background: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  width: 350px;  /* 强制固定宽度 */
  height: 450px; /* 强制固定高度 */
  overflow: hidden; /* 防止滚动条出现 */
  background: #ffffff;
  font-family: Inter, system-ui, -apple-system, Segoe UI, sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #ffffff;

}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
