@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  margin: 0;
  padding: 0;
}

body {
  @apply antialiased;
  color: #0f172a;
  font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', sans-serif;
  overflow: hidden;
}

#root {
  width: 400px;
  height: 500px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
